/*GLOBAL*/
html{
}

body{
    margin: 0;
}

/*HEADER*/
header{
    height: 10%;
    padding: 1%;
    background-image: linear-gradient(180deg, #333 50%, #555 100%);
    
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
}

#connexion{
    height: fit-content;
    width: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #999 50%, #555 100%);
    border: white solid 1px;
    border-radius: 1.5vh;
    position: fixed;
    top: 10%;
    left: 88%;
}

/*https://fvsch.com/articles/transition-fade/test5.html*/
.visible,
.hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}